body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 1000px;
    border: solid 2px blue;
}

.frist-part {
    margin: 25px auto;
    width: 900px;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

input {
    width: 400px;
    height: 50px;
    border: solid 3px yellow;
    border-radius: 50px;
    outline: none;
    text-align: center;
    font-size: 25px;
}

input::placeholder {
    font-size: 20px;
    text-align: center;
    color: rgb(209, 209, 205, 0.7);
}

.second-part {
    margin-left: auto;
    margin-right: auto;
    border: solid 4px rgb(0, 255, 13);
    height: 550px;
    width: 900px;
    margin-top: 25px;
    margin-bottom: 25px;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: #e0ff54;
    text-transform: uppercase;
    color: #fa0e7c;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
}

.chat-output_one {
    display: none;
    margin-top: 35px;
    margin-left: 65px;
    margin-right: 15px;
    height: 160px;
}

.chat-output_two {
    display: none;
    margin-right: 65px;
    margin-left: 15px;
    height: 160px;
}

.chat-output_three {
    display: none;
    margin-left: 65px;
    margin-right: 15px;
    height: 160px;
}

.output-text {
    font-size: 25px;
    padding: 12px;
    border: solid 2px blue;
}

#text-one, #text-three {
    margin-top: 0px;
    background-color: rgb(216, 234, 250);
    width: fit-content;
    height: fit-content;
    float: right;
}

#text-two {
    margin-top: 0px;
    background-color: rgb(104, 178, 243);
    width: fit-content;
    height: fit-content;
    float: left;
} 